* {
    box-sizing: border-box;
}

:root {
    --color: #ffffff;
}

::selection,
::-moz-selection {
  background: #ffffff;
}

body {
    margin:1.5rem;
    margin-top:0;
    /* font-family: 'Libertinus mono', monospace; */
    font-family: 'Times New Roman', Times, serif;
    /* line-height: 2rem; */
    text-align:justify;
    word-wrap: break-word;
    hyphens: auto;
    color:rgb(61, 82, 86);
    text-shadow: #ffffff 0 0 10px;
    /* text-shadow:
     -2px -2px 3px #ffffff,  
      2px -2px 3px #ffffff,
      -2px 2px 3px #ffffff,
       2px 2px 3px #ffffff; */
}

.bg {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  opacity:0;
  transition: opacity .5s;
  filter: grayscale(100%);
}

.bg1 {
  background-image:url(img/8-a.gif);
  background-size: 10vw;
}

.bg2 {
  background-image:url(img/3.gif);
  background-size: 200px;
}

.bg3 {
  background-image:url(img/2-a.gif);
  background-size: 25vw 50vh;
  /* background-size: 200px; */
  /* filter:blur(1px); */
  
  animation: drift 100s linear infinite;
}

.active {
  opacity:1;
}

@keyframes drift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -50vw -100vh;
  }
}

main {
  max-width:750px;
  margin:0 auto;
  /* background:white; */
  /* padding:3rem; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "itc-giovanni", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size:120px;
  margin-bottom:1rem;
  margin-top:0;
}

h2 {
  font-size:1.4rem;
  text-align: left;
  font-family:'Courier New', Courier, monospace;
  /* font-weight: bold; */
}

p {
  font-size: 2rem;
  line-height: 160%;
}

img {
  max-width: 100%;
}

mark {
  background:rgba(255, 255, 255, 0);
}

.title {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width:900px) {
  main {
    margin:0 auto;
  }
}