* {
    box-sizing: border-box;
}

:root {
    --color: #ffffff;
}

::selection,
::-moz-selection {
  background:rgb(255, 255, 201);
}

@font-face {
  font-family: 'courier-bt';
  src: url('courier-bt.woff2') format('woff2'),
       url('courier-bt.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
    margin:1.5rem;
    margin-top:0;
    /* font-family: 'Libertinus mono', monospace; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: "baskerville-urw", serif; */
    font-family: "adobe-caslon-pro", serif;
    /* line-height: 2rem; */
    text-align:justify;
    word-wrap: break-word;
    hyphens: auto;
    color:rgb(51, 43, 53);
    text-shadow: #ffffff 0 0 10px;
    text-shadow: rgb(51, 43, 53) 0 0 1px;
    /* text-shadow:
     -2px -2px 3px #ffffff,  
      2px -2px 3px #ffffff,
      -2px 2px 3px #ffffff,
       2px 2px 3px #ffffff; */
}

.bg {
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index: -1;
  opacity:0;
  transition: opacity .5s;
  /* filter: grayscale(100%); */
  /* filter: blur(2px); */
  background-color: #eeeded;
  /* background-color: #373737; */
  /* background-color: #dfffff; */
  background-position: center;
}

.title-bg {
  background-image:url(img/loop5.gif);
  background-size: 200px;
  animation: drift 200s linear infinite;

}

.drift-bg {
  background-image:url(img/loop4.gif);
  background-size: 200px;
  animation: drift 200s linear infinite;

}

.hd-bg {
  background-image:url(img/hd-world.gif);
  background-size: 600px;
}

.eyes-bg {
  background-image:url(img/eyes2-feat.gif);
  background-size: 1800px;
}

.loss-bg {
  background-image:url(img/loss.gif);
  background-size: 600px;
}

.failure-bg {
  background-image:url(img/failure.gif);
  background-size: 600px;
}

.goosepimples-bg {
  background-image:url(img/goosepimples2.gif);
  background-size: 300px;
}

.labyrinth-bg {
  background-image:url(img/labyrinth3-feat.gif);
  background-size: 1300px;
}

.voice-bg {
  background-image:url(img/voice.gif);
  background-size: 600px;
}

.sunshine-bg {
  background-image:url(img/sunshine.gif);
  background-size: 600px;
}

.night-bg {
  background-image:url(img/night.gif);
  background-size: 500px;
}

.door-bg {
  background-image:url(img/door.gif);
  background-size: 1400px;
}

.corridor-bg {
  background-image:url(img/hd-world.gif);
  background-size: 600px;
}

.vulva-bg {
  background-image:url(img/loop4.gif);
  background-size: 300px;
}

.awake-bg {
  background-image:url(img/eyes2-feat.gif);
  background-size: 1800px;
}

.fade-bg {
  background-image:url(img/hd-world.gif);
  background-size: 600px;
}

.blank-bg {
  background-color: white;
  background-size: 1300px;
}

.end-bg {
  background-image:url(img/end.gif);
  background-size: 200px;
  animation: drift 200s linear infinite;
}

.active {
  opacity:1;
}

.inactive {
  opacity:0;
  animation: destroy 1s linear;
}

@keyframes destroy {
  0% {
    display:block;
  }
  99% {
    display:block;
  }
  100% {
    display:none;
  }
}

@keyframes drift {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50vw 100vh;
  }
}

main {
  max-width:750px;
  margin:0 auto;
  /* background:white; */
  /* padding:3rem; */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "filosofia-grand", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size:170px;
  line-height: 80%;
  margin-bottom:1rem;
  margin-top:0;
}

h2 {
  font-size:1.3rem;
  line-height: 150%;
  text-align: left;
  font-family:'courier-bt', Courier, monospace;
}

p {
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom:0;
}

img {
  max-width: 100%;
}

mark {
  background:rgba(255, 255, 255, 0);
}

.title {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-break {
  height:70vh
}

@media screen and (max-width:900px) {
  main {
    margin:0 auto;
  }
}